@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --green: #218c74;
    --dark-green: #1b715d;
    --white: #f0f0f0;
    --absolute-white: #ffffff;
    --black: rgb(56, 56, 56);
    --light-grey: #777;
    --grey: #474747;

    --header-height: 60px;
    --section-height: calc(100vh - var(--header-height));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--white);
    color: var(--black);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
