<template>
  <section class='cartPage'>
      <Loading v-if='isLoading'/>
      <div v-else class='container'>
        <ProgressBar :steps='progressBarSteps'/>
        <div class='sum'>
            <h2 class='sumTitle'>Podsumowanie</h2>
            <div class='sumContent'>
                <div>
                    <h3 class='sumName'>Suma:</h3>
                    <p class='sumValue'>{{total}}<span> zł</span></p>
                </div>
                <CustomBtn>Dalej</CustomBtn>
            </div>
        </div>
        <div class='headers'>
            <p class='headerName'>nazwa</p>
            <p class='headerQuantity'>ilość</p>
            <p class='headerPrice'>cena</p></div>
        <transition-group style='position:relative;' name="productList" tag='div'>    
            <div class='row' v-for='(item,index) in items' :key="item.id">
                <p class='name'>{{item.name}}</p> 
                <div class='quantity'><input class='quantity-input' type="number" min="1" max='99' @input="updateQuantity(index, $event)" :value="item.quantity" /></div> 
                <p class='price'>{{item.price}}<span> zł</span></p>
                <CustomBtn @click.native='deleteItem(index)' class='binBtn' btnSize='vsmall' btnColor='red' :svgUrl='binIcon'  />
            </div>
        </transition-group>
      </div>
  </section>
</template>

<script>
const binIcon = require('./../assets/bin.svg')

import Loading from '../components/Loading'
import ProgressBar from '../components/ProgressBar'
import cartStore from '../store/CartStorage'
import {mapGetters} from 'vuex'
import {product, PRODUCT_FIELDS} from '../ApiRoutes'
import CustomBtn from '../components/Button'

export default {
  data() {
      return {
          binIcon: binIcon+'#bin',
          isLoading: false,
          items: [],
          progressBarSteps: {
                'Koszyk': true,
                'Dane': false,
                'Płatność':false,
                'Finalizacja':false
            }
      }
  },
  computed: {
      ...mapGetters(['getName','getPrice']),
      total() {
          return Object.values(this.items).reduce((sum, item) => {
              sum += item.price * item.quantity
              return sum
          },0).toFixed(2)
      }
  },
    methods: {
        updateQuantity(index, event){
            const newQuantity = event.data
            cartStore.addItem(this.items[index].id, newQuantity - this.items[index].quantity)
            this.items[index].quantity = newQuantity

        },
        deleteItem(index) {
            cartStore.deleteItem(this.items[index].id)
            this.items.splice(index,1)
        },
        loadName: async function(id) {
            let name = ''
            if(this.getName(id))
                name = this.getName(id)
            else 
                name = (await product.getProduct(id, PRODUCT_FIELDS.NAME)).data[PRODUCT_FIELDS.NAME]
            return name
        }, 
        
        loadPrice: async function(id) {
            let price = ''
            if(this.getName(id))
                price = this.getPrice(id)
            else 
                price = (await product.getProduct(id, PRODUCT_FIELDS.PRICE)).data[PRODUCT_FIELDS.PRICE]
            return price
        }, 

        loadItems: async function() {
            for(const [id, val] of Object.entries(cartStore.getAllItems())) {
                this.items.push({
                    ...val,
                    id,
                    name: await this.loadName(id),
                    price: await this.loadPrice(id)
                })
            }
        }
  },
  created() {
      this.isLoading = true
      this.loadItems().then(()=>{
          this.isLoading=false
        })
  },
  components: {
      Loading,
      CustomBtn,
      ProgressBar
  }
}
</script>

<style scoped>
    .sum {
         margin-top: 60px;
    }
    .sumTitle {
        font-size: 130%;
        font-weight: 100;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--green);
    }
    .sumContent {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .sumName {
        font-size: 150%;
        font-weight: 300;
        color: var(--green);
        display: inline-block;
    }
    .sumValue {
        margin-left: 10px;
        font-size: 125%;
        display: inline-block;
    }
    .sumValue span {
        font-size: 70%;
    }
    .cartPage {
        margin-top: 60px;
    }
    .container {
        max-width: 1140px;
        padding: 0 7% 7% 7%;
        margin: 0 auto;
        background-color: white;
    }
    .headers {
        margin-top:60px;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 85%;
        padding-bottom: 20px;
        border-bottom: 1px solid #218c7550;
    }
    .headerName {
        flex:1;
        text-align: center;
    }
    .headerQuantity {
        flex:1;
        text-align: right;
    }
    .headerPrice {
        flex:1;
        text-align: center;
    }
    .row {
        height: 70px;
        border-bottom: 1px solid #b9b9b970;
        display: flex;
        padding: 0 0 0 5%;
        align-items: center;
    }

    .binBtn {
        margin: 0 0 0 60px;
    }
    .name {
        font-size: 90%;
        font-weight: 400;
        margin-right: auto;
        flex: 1;
    }
    .quantity {
        flex:1;
    }
    .quantity-input {
        margin: 0 auto;
        display: block;
        width:40px;
        height:30px;
        text-align: center;
        font-size: 85%;
        font-weight: 100;
        outline: none;
        border: 1px solid #7c7c7c6b;
        transition: border .3s;
    }
    .price {
        font-size: 90%;
        margin-left: auto;
    }
    .price span {
        font-size: 80%;
    }
    .productList-leave {
        width:100%;
    }
    .productList-leave-active {
         position:absolute;
         left:0;
         right:0;
    }
    .productList-leave-to {
        opacity: 0;
        left:0;
        right:0;
    }
    .productList-move {
        transition: all 1s;
    }
</style>