<template>
  <section class='contact-page'>
      <Map></Map>
      
      <div class="box">
          <div class='card'>
            <div class='row'>
                <p class='label-text'>Email</p>
                <div class='data'>
                    <svg class='icon'> <use :xlink:href='emailIcon'></use> </svg>
                    <p class='text'>test@test.pl</p>
                </div>
            </div> 
            <div class='row'>
                <p class='label-text'>Telefon</p>
                <div class='data'>
                    <svg class='icon'> <use :xlink:href='phoneIcon'></use> </svg>
                    <p class='text'>+48 123-456-789</p>
                </div>
            </div> 
    
            <div class="row">
                <p class='label-text'>Godziny otwarcia</p>
                <div class="data">
                    <svg class='icon'> <use :xlink:href='clockIcon'></use> </svg>
                    <p class="text">09:00 - 21:00</p>
                </div>
            </div>
    
            <div class='row'>
                <p class='label-text'>Adres</p>
                <div class="data">
                    <svg class='icon'> <use :xlink:href='addressIcon'></use> </svg>
                    <div>
                        <p class='text'>Excelso</p>
                        <p class='text'>Galeria Dominikańska 1-3</p>
                        <p class='text'>50-148 Wrocław</p>
                    </div>
                </div>
            </div> 
          </div>

          <div class='contact-box'>
              <CustomBtn btnType='secondary'>Skontaktuj się</CustomBtn>
          </div>
      </div>
  </section>
</template>

<script>
const phoneIcon = require('./../assets/phone.svg')
const clockIcon = require('./../assets/clock.svg')
const emailIcon = require('./../assets/email.svg')
const addressIcon = require('./../assets/address.svg')

import Map from '../components/Map'
import CustomBtn from '../components/Button'
export default {
    data() {
        return {
            phoneIcon: phoneIcon+'#phone',
            clockIcon: clockIcon+'#clock',
            emailIcon: emailIcon+'#email',
            addressIcon: addressIcon+'#address',
        }
    },
    components: {
        Map,
        CustomBtn
    }
}
</script>

<style scoped>
    .contact-page {
        position:relative;
        width:100%;
        height: var(--section-height);
    }

    .box {
        position: absolute;
        top:40%;
        right:5%;
        width:450px;
        height: 550px;
        transform: translateY(-50%);
    }

    .card {
        background-color: var(--green);
        border-radius: 20px 20px 0 0px;
        box-shadow: 1px 1px 10px 2px #b4b4b4;
        height: 80%;
        width: 100%;
        padding-top:10px;
    }
    .contact-box {
        width: 100%;
        height: 20%;
        background-color: var(--absolute-white);
        border-radius: 0px 0px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px 2px #b4b4b4;
    }
    .row {
        width:80%;
        margin: 0 auto 30px auto;
    }

    .row:first-of-type {
        margin-top: 30px;
    }
    .data {
          display: flex;
          
    }

    .text {
        color: var(--absolute-white);
        font-weight: 100;
        font-size: 85%;
    }
    .icon {
        width: 25px;
        height: 25px;
        margin-right:7%;
        fill: var(--absolute-white);
    }
    .label-text {
        display: block;
        color: var(--absolute-white);
        font-size: 70%;
        font-weight: 100;
        margin-bottom: 10px;
    }
</style>