<template>
  <section>
      <div class='container'>
        <div class='left-column'>
            <WhiteBoard>
                <Picture picSize='big' :productId='id' />
            </WhiteBoard>
            <WhiteBoard padding='small' class='board-spacing'>
                <Price size='big' :productId='id'/>
            </WhiteBoard>
            <WhiteBoard padding='small' class='board-spacing'>
                <Ratings :productId='id'/>
            </WhiteBoard>
        </div>
        <div class='right-column'>
            <WhiteBoard padding='big'>
                <Name class='underline-big' :productId='id' size='big'/>
                <VisualDescription class='row-spacing' :productId='id' />
                <p class='underline-small row-spacing'>OPIS</p>
                <Description class='board-spacing' :productId='id'/>
            </WhiteBoard>
        </div>
      </div>
  </section>
</template>

<script>
import WhiteBoard from '../components/WhiteBoard'
import Picture from '../components/Picture'
import Price from '../components/Price'
import Ratings from '../components/Ratings'
import Name from '../components/Name'
import Description from '../components/Description'
import VisualDescription from '../components/VisualDescription'

export default {
    props:['id'],
    components: {
        WhiteBoard,
        Picture,
        Price,
        Ratings,
        Name,
        Description,
        VisualDescription
    }
}
</script>

<style scoped>
    .container {
        max-width: 1140px;
        margin: 120px auto;
        display: flex;
        height: 100%;
    }
    .left-column {
        flex: 0 0 350;
        margin-right: 30px;
    }
    .right-column {
        flex:1;
    }
    .board-spacing {
        margin-top:30px;
    }

    .row-spacing {
        margin-top: 60px;
    }

    .underline-big::after {
        display: block;
        content: '';
        width: 30%;
        margin: 20px auto 40px auto;
        height: 1px;
        background-color: var(--green);
    }

    .underline-small {
        font-size: 130%;
        font-weight: 300;
        text-align: center;
    }
    .underline-small::after {
        width:15%;
        display: block;
        content: '';
        margin: 10px auto 30px auto;
        height: 1px;
        background-color: var(--green);
    }

</style>