<template>
    <header>
      <router-link tag='div' class='branding' :to='{name:"home"}'>
        <img src='../assets/logo.png' alt='logo'/> 
        <h1>PLUMA</h1>
      </router-link>
      <input v-show="shopMode" :style='{backgroundImage:`url(${searchIcon})`}' v-model="searchValue" type='text' placeholder="wyszukaj" @input="emitSearchValue" />
      <div class='menu'>
            <nav class='navigation'>
                <CustomLink class='spacing--link' to='/'>współpraca</CustomLink>
                <CustomLink class='spacing--link' to= '/'>kontakt</CustomLink>
                <CustomBtn v-show="!shopMode" class='spacing--btn' btnType='secondary' btnSize='small'>Sklep</CustomBtn>
                <CustomBtn class='spacing--btn' btnType='primary' btnSize='small'>Zaloguj</CustomBtn>
            </nav>
            <CartBtn @click.native='goToCartPage'/>
        </div>
    </header>
</template>

<script>

const searchIcon = require('./../assets/search_magnify.svg')

import CustomBtn from '../components/Button'
import CustomLink from '../components/Link'
import CartBtn from '../components/CartButton'
import eventBus from '../EventBus'

export default {
    props: {
        shopMode: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            searchIcon,
            searchValue: ''
        }
    },
    methods:{
        emitSearchValue() {
            eventBus.emitSearchProduct(this.searchValue)
        },
        goToCartPage() {
            this.$router.push({name:'cart'})
        }
    },
    components: {
        CustomBtn,
        CustomLink,
        CartBtn
    }
}
</script>

<style scoped>
    .branding {
        flex: 0 0 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        cursor: pointer;
    }
    img {
        display: block;
        height: 80%;
    }

    header {
        position:fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        top:0;
        left:0;
        right: 0;
        height:60px;
        padding: 0 0 0 25px;
        z-index: 999;
    }
    h1 {
        font-size: 115%;
        font-weight: 300;
        text-transform: uppercase;
    }

    .spacing--btn {
        margin-left: 15px;
    }

    .spacing--link {
        margin-right: 25px;
    }

    input {
        height: 40px;
        width: 500px;
        border: 1px solid var(--light-grey);
        background-color: var(--absolute-white);
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 75%;
        padding: 0 15px;
        color: var(--grey);
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 20px;

    }

    input:focus {
        outline: none;
        background-color: var(--absolute-white);
        color: var(--grey);
    }
    .menu {
        height:100%;
        display:flex;
        align-items: center;
    }

    .navigation {
        margin-right: 25px;
    }
</style>