<template>
  <section :style="backgroundStyle">
      <Welcome class='welcome'/>
      <transition name="toUp" appear>
        <ul>
            <li v-for="(social,index) in socialLinks" :key="index"><CustomLink :to='social.link' :svgUrl='social.logoUrl'/></li>
        </ul>
      </transition>
  </section>
</template>

<script>
const bgUrl = require('./../assets/hello_backgorund-min.jpg')
const instaIcon = require('./../assets/instagram.svg')
const fbIcon = require('./../assets/facebook.svg')
const twIcon = require('./../assets/twitter.svg')

import Welcome from '../components/Welcome'
import CustomLink from '../components/Link'

export default {
    data() {
        return {
            socialLinks: [
                {
                    link: {name:'instagram'},
                    logoUrl: instaIcon+'#instagram'
                },
                {
                    link: {name:'facebook'},
                    logoUrl: fbIcon+'#facebook'
                },
                {
                    link: {name:'twitter'},
                    logoUrl: twIcon+'#twitter'
                },
            ],
            backgroundStyle: {
                backgroundImage: `linear-gradient(rgba(75, 71, 71, 0.2),rgba(75, 71, 71, 0.2)), url(${bgUrl})`
            }
        }
    },
    components: {
        Welcome,
        CustomLink
    }
}
</script>

<style scoped>
    section {
        height: var(--section-height);
        margin-top:var(--header-height);
        background-size: cover;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .welcome {
        margin: auto 0;
        flex-shrink: 1;
    }

    ul {
        position: absolute;
        bottom: 40px;
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
    }

    .toUp-enter-active {
        animation: fadeToUp .6s;
    }

    @keyframes fadeToUp {
        0% {
            bottom: 0;
            opacity: 0;
        }

        100% {
             bottom: 40px;
             opacity: 1;
        }
    }

    
</style>