<template>
  <section>
    <Loading v-if='loading'/>
    <div v-else class='productsGrid'>
      <ProductTile  v-for="id of productList" :key="id" :productId='id' @clickedTile='goToDetails'/>
    </div>
    <!-- <p v-else>Brak produktów</p> -->
    </section>
</template>

<script>
import ProductTile from './../components/ProductTile'
import Loading from '../components/Loading'
import eventBus from '../EventBus'
import {mapGetters} from 'vuex'
import {product} from '../ApiRoutes'
export default {
    data() {
      return {
        loading: false,
        searchingText: '',
        productsIds:[]
      }
    },
    components: {
        ProductTile,
        Loading
    },
    methods:{
      goToDetails(id) {
        this.$router.push({name: 'details', params:{id}})
      }
    },
    computed: {
      ...mapGetters(['getName']),
      productList(){
        return this.productsIds.filter(id => {
          const name = this.getName(id) || ''  
          return name.toLowerCase().includes(this.searchingText.toLowerCase()) 
        })
      }
    },
    created() {
      eventBus.listenSearchProduct(value => this.searchingText = value)

      this.loading = true
      product.getAllProductsID()
        .then(res => {
          this.productsIds = res.data
          this.loading = false
        })
        .catch(err => console.log(err))
    }
}
</script>

<style scoped>
  section {
    margin-top: 60px;
  }
  .productsGrid {
    display: flex;
    flex-wrap: wrap;
  }
</style>