<template>
  <div>
    <Home/>
    <Shop/>
    <Contact/>
  </div>
</template>

<script>
import Home from './Home'
import Shop from './Shop'
import Contact from './Contact'

export default {
    components: {
        Home,
        Shop,
        Contact
    }
}
</script>

<style>

</style>