<template>
  <div :style="{'display': rootDisplay}">
      <div :class="appliedClasses">
        <svg v-if='svgUrl' class='icon'><use :xlink:href='svgUrl'></use></svg>
        <slot v-else></slot>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        'btnBorder': {
            type: String,
            default: 'rounded'
        },
        'btnType': {
            type: String,
            default: 'primary'
        },
        'btnSize': {
            type: String,
            default: 'small'
        },
        'svgUrl': {
            type: String
        },

        'btnColor': {
            type: String,
            default: 'green'
        }
    },
    data() {
        return {
            appliedClasses:  ['btn', this.btnType, this.btnSize, this.btnBorder, this.btnColor]
        }
    },
    computed: {
        rootDisplay() {
            return this.btnSize === 'fullWidth' ? 'block' : 'inline-block'
        }
    }
}
</script>

<style scoped>
    .btn {
        height: inherit;
        cursor: pointer;
        transition: background .5s;
        text-transform: uppercase;
    }

    .rounded {
        
        border-radius: 3px;
    }

    .rounded.green {
        border: 1px solid var(--green);
    }

    .rounded.red {
        border: 1px solid #c62828;
    }

    .rectangle {
        border-radius: 0px;
    }

    .rectangle.green {
        border: 1px solid var(--green);
    }

    .rectangle.red {
        border: 1px solid #c62828;
    }

    .left {
        border-left: 1px solid var(--green);
    }

    .primary {
        
        color: var(--white);
    }
    .primary.green {
        background-color: var(--green);
    }

    .primary.red {
        background-color: #c62828;
    }

    .primary.red:hover {
        background-color: #8e0000;
    }

    .primary.green:hover {
        background-color: var(--dark-green);
    }

    .secondary {
        color: var(--green);
        transition: all .5s;
    }

    .secondary:hover {
        background-color: var(--green);
        color: var(--white);
    }

    .big {
        font-size: 130%;
        font-weight: 100;
        padding: 20px 30px;
    }

    .small {
        font-size: 80%;
        font-weight: 400;
        padding: 10px 15px;
    }

    .vsmall {
        padding:0 4px;
        width: 30px;
        height: 50px;
    }

    .fullWidth {
        width:100%;
        display: block;
        font-size: 80%;
        font-weight: 400;
        padding: 10px 0;
        text-align: center;
    } 

    .icon {
        width: 100%;
        height: 100%;
        display:block;
    }

    .primary .icon {
        fill: var(--white);
    }

    .secondary .icon {
        fill: var(--green);
    }

    .secondary:hover .icon {
         fill: var(--white);
    }
</style>