<template>
  <div class='cartIcon'>
      <CustomBtn class='btn' btnBorder='none' btnType='secondary' btnSize='small' :svgUrl='cartSvgIcon'></CustomBtn>
      <transition name='notifyanim' mode="out-in">
        <div v-show='showN' class='notify'>+{{quantity}}</div>
      </transition>
  </div>
</template>

<script>
const cartSvgIcon = require('./../assets/shopping-cart.svg')
import CustomBtn from './Button'
import eventBus from '../EventBus'

export default {
    data() {
        return {
            quantity:0,
            showN:false,
            cartSvgIcon: cartSvgIcon+'#shopping_cart'
        }
    },
    watch: {
        showN() {
           if(this.showN) { 
               setTimeout(()=> {
                this.showN = false
                }, 1000)
            }
        },
    },
   
    mounted() {
        eventBus.listenAddToCart(value => {
            this.quantity = value
            if(!this.showN)
                this.showN = true
            })
    },
    components: {
        CustomBtn
    }
}
</script>

<style scoped>
     .cartIcon {
     width:55px;    
     height: 100%;
     position: relative;
    }
    .btn {
        position: relative;
    }
    .notify {
        position: absolute;
        line-height: 60px;
        width:100%;
        height:100%;
        top:0;
        background-color: var(--green);
        text-align: center;
        vertical-align: middle;
        color: var(--white);
        font-size: 100%;        
    }

    .notifyanim-enter {
        opacity: 0;
    }

    .notifyanim-enter-active {
        animation: showWave .6s;
    }

    .notifyanim-leave-active {
        transition: opacity .5s;
        opacity: 0;
    }

    @keyframes showWave {
        0% {
            top:50%;
            left:50%;
            right:50%;
            bottom:50%;
            border-radius: 50%;
            transform: translate(-50%,-50%) scale(.6);
            width:100%;
            height:100%;
            
        }

        100%{
            top:0;
            left:0;
            right:0;
            bottom:0;
            width:100%;
            height:100%;
            transform: translate(0,0) scale(1);
        }
    }
</style>