<template>
    <Loading v-if='loading'/>
    <p v-else class='description'>{{text}}</p>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import Loading from './Loading'
import {DETAIL_FIELDS, detail} from '../ApiRoutes'
export default {
    props: ['productId'],
    data() {
        return {
            loading: false,
            text: ''
        }
    },
    computed: {
        ...mapGetters(['getDescription'])
    },
    methods: {
        ...mapActions(['setDescription'])
    },
    components: {
        Loading
    },
    created() {
        if(this.getDescription(this.productId))
            this.text = this.getDescription(this.productId)
        else {
            this.loading = true
            detail.getDetail(this.productId, DETAIL_FIELDS.DESC)
                .then(res => {
                    this.loading = false
                    this.text = res.data[DETAIL_FIELDS.DESC]
                    this.setDescription({id: this.productId, value: this.text})
                })
        }
    }
}
</script>

<style scoped>
    .description {
        font-size: 85%;
        line-height: 145%;
    }
</style>