<template>
    <div style="display:inline-block;">
        <router-link :tag='tag' :to='to'> 
            <slot v-if='!svgUrl'></slot>
            <svg v-else>
                <use :xlink:href='svgUrl'></use>
            </svg>
        </router-link>
    </div>
</template>

<script>
export default {
    props: {
        'to': {
            default: '/'
        },
        'svgUrl': String 
    },
    computed: {
        tag() {
            return !this.svgUrl ? 'a' : 'div'
        }
    }
}
</script>

<style scoped>
    a {
        font-size: 75%;
        text-transform: uppercase;
        color: var(--black);
        text-decoration: none;
        border-bottom: transparent;
        padding-bottom: 5px;
        transition: border .5s;
    }

    a:hover {
        border-bottom: 1px solid var(--green);
    }

    svg {
        width: 34px;
        height: 34px;
        background: transparent;
        border-radius: 10px;
        padding: 10%;
        fill: var(--white);
        transition: all .5s;
    }

    svg:hover {
        background: var(--white);
        fill: var(--green);
    }
</style>