<template>
    <div>
        <div class='container'>
            <div class='spin'></div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container {
        text-align: center;
        padding: 20px;
        
    }
    .spin {
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 4px solid rgba(128, 128, 128, 0.5);
        border-top: 4px solid rgb(107, 107, 107);
        border-radius: 50%;
        animation: rotation .6s infinite linear;
    }

    @keyframes rotation {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 359deg;
        }
    }
</style>