<template>
  <div class='here-map'>
      <div  style='width:100%; height:100%;' ref='map'></div>
  </div>
</template>

<script>
import mapStyle from './MapStyle'
export default {
    data() {
        return {
            mapKey: 'dZnsPHGxWbjNWh-6EHbw-t4nMMSIjhdAfN53PhQ1wvI',
            platform: {},
            mapPosition: {
                zoom: 16,
                center: { lat: 51.108036, lng: 17.045179 }
            },
            style: mapStyle.toString()
        }
    },
    mounted() {
        this.platform = new window.H.service.Platform({
            apikey: this.mapKey
        })
        const defaultLayers = this.platform.createDefaultLayers()

        let map = new window.H.Map(
            this.$refs.map,
            defaultLayers.vector.normal.map,
            this.mapPosition
        )
       const baseLayer = map.getBaseLayer()
        baseLayer.getProvider().setStyle(new window.H.map.Style(this.style))
    }
}
</script>

<style scoped>
    .here-map {
        width:100%;
        height:100%;
    }
</style>