<template>
    <div>
        <Loading v-if='loading'/>
        <h2 :class="['title', size]" v-else >{{shortedName | trim | uppercaseFirstLetter}}</h2>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {PRODUCT_FIELDS, product} from '../ApiRoutes'
import Loading from './Loading'

export default {
    props:['productId','size'],
    data() {
        return {
            loading: false,
            name: ''
        }
    },
    computed: {
        ...mapGetters(['getName']),
        textLength() {
            if(this.size === 'small')
                return 15;
            if(this.size === 'medium')
                return 18;      
            if(this.size === 'big')
                return 100;

            return -1;
        },
        shortedName() {
               if(this.name.length >= this.textLength) {
                return this.name.substring(0, this.textLength - 3)+'...'
            }
            return this.name
        }
    },
    methods: {
        ...mapActions(['setName'])
    },
    components: {
        Loading
    },
    filters: {
        trim(value) {
            return value.trim()
        },
        uppercaseFirstLetter(value) {
            value = value.toLowerCase()
            
            return value.split(' ')
                .filter(word => word.length > 0)
                .map(word => word[0].toUpperCase() + word.slice(1))
                .join(' ')
        }
    },
    created() {
        if(this.getName(this.productId))
            this.name = this.getName(this.productId)
        else {
            this.loading = true
            product.getProduct(this.productId, PRODUCT_FIELDS.NAME)
                .then(res => {
                    this.name = res.data[PRODUCT_FIELDS.NAME]
                    this.setName({id:this.productId, value: this.name})
                    this.loading = false
                })
        }
    }
}
</script>

<style scoped>
    .title {
        text-align: center;
      
    }

    .small, .medium {
        font-weight: 300;
        font-size: 140%;
    }

    .big {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 210%;
    }
</style>