<template>
    <div>
        <div style='display: block;' :class="[picSize]">
            <Loading v-if='loading'/>
            <img v-else :src='pictureSrc' alt="">
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {PRODUCT_FIELDS, product} from '../ApiRoutes'
import Loading from './Loading'
export default {
    props: ['picSize','productId'],
    data() {
        return {
            loading: false,
            pictureSrc: ''
        }
    },
    components: {
        Loading
    },
    computed:{
        ...mapGetters(['getPicture'])
    },
    methods: {
        ...mapActions(['setPicture'])
    },
    created() {
        if(this.getPicture(this.productId)){
            this.pictureSrc = this.getPicture(this.productId)
        }
        else {
            this.loading = true
            product.getProduct(this.productId, PRODUCT_FIELDS.PICTURE)
                .then(res => {
                    const data = res.data.picture.data
                    let base64String = btoa(String.fromCharCode(...new Uint8Array(data)));
                    this.pictureSrc = 'data:image/png;base64, '+ base64String
                    this.setPicture({id: this.productId, value:this.pictureSrc})
                    this.loading = false
                })
        }
    }
}
</script>

<style scoped>
    .small {
        width: 240px;
        height: 240px;
    }

    .big {
        width: 350px;
        height: 350px;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>