<template>
  <div>
      <Loading v-if='loading'/>
      <div v-else-if='size === "small"' class='small'>
        <p>{{price}}<span>zł</span></p>
        <CustomButton  @click.native.stop='addToCart' btnType='primary' btnSize='small'>KOSZYK</CustomButton>
      </div>
      <div v-else-if=' size === "big"' class='big'>
          <div>
              <p class='label'>Cena:</p>
              <p class='value'>{{price}}<span>zł</span></p>
          </div>
           <div class='small-top-spacing'>
              <p class='label'>Ilość:</p>
              <input class='quantity-input' type="number" min="1" max='99' v-model="quantity" />
          </div>
          <CustomButton @click.native.stop='addToCart' class='big-top-spacing' btnType='primary' btnSize='fullWidth'>KOSZYK</CustomButton>
      </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import CustomButton from './Button'
import Loading from './Loading'
import {product, PRODUCT_FIELDS} from '../ApiRoutes'
import cartStore from '../store/CartStorage'
import eventBus from '../EventBus'

export default {
    props: {
        'productId':{},
        'size': {
            default: 'small'
        }
    },
    data() {
        return {
            loading: false,
            quantity: 1,
            price: 0
        }
    },
    computed: {
        ...mapGetters(['getPrice'])
    },
    methods: {
        ...mapActions(['setPrice']),
        addToCart() {
            cartStore.addItem(this.productId, this.quantity)
            eventBus.emitAddToCart(this.quantity)
        }
    },
    components: {
        CustomButton,
        Loading
    },
    created() {
        if(this.getPrice(this.productId))
            this.price = this.getPrice(this.productId)
        else {
            this.loading = true
            product.getProduct(this.productId, PRODUCT_FIELDS.PRICE)
                .then(res=> {
                    this.price = res.data[PRODUCT_FIELDS.PRICE]
                    this.setPrice({id:this.productId, value:this.price})
                    this.loading = false
                })
        }
    }
}
</script>

<style scoped>
    .small {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .small p {
        font-weight: 100;
        font-size: 150%;
    }
    .small p span {
        font-size: 65%;
        margin-left: 4px;
    }

    .big {
        width:100%;
    }

    .big .label {
        display: inline-block;
        font-size: 95%;
        margin-right: 10px;
    }

     .big .value {
        display: inline-block;
        width: 70%;
        font-size: 130%;
        margin-top: 10px;
    }

    .big .value span {
        font-size: 70%;
    }
    .big-top-spacing {
        margin-top: 30px;
    }
    .small-top-spacing {
        margin-top: 20px;
    }

    .quantity-input {
        width:40px;
        height:30px;
        text-align: center;
        font-size: 94%;
        font-weight: 100;
        outline: none;
        border: 1px solid var(--light-grey);
        transition: border .3s;
    }

    .quantity-input:focus{
        border: 1px solid rgba(33, 140, 116,.8);
    }
</style>