<template>
  <div class='tile'>
    <div class='tile-container' @mouseenter="tileHover" @mouseleave="tileOver" @click="clickedTile">
      <Picture :productId='productId' picSize='small'/>
      <Name :productId='productId' :size='nameSize'/>
      <Ratings class='rating' :productId='productId' />
      <Price class='price' :productId='productId'/>
    </div>
  </div>
</template>

<script>
import Picture from './Picture'
import Name from './Name'
import Ratings from './Ratings'
import Price from './Price'

export default {
  props: ['productId'],
  data() {
    return {
      nameSize: 'small'
    }
  },
  components: {
    Picture,
    Name,
    Ratings,
    Price
  },
  methods: {
    tileHover(){
      this.nameSize = 'medium'
    },
    tileOver(){
      this.nameSize = 'small'
    },
    clickedTile() {
      this.$emit('clickedTile',this.productId)
    }
  }
}
</script>

<style scoped>
    .tile {
        background-color: var(--absolute-white);
        width: 240px;
        height: 450px;
        box-shadow: 1px 1px 10px 2px #b4b4b4;
        margin: 0 30px 60px 30px;
        transform: scale(1);
        transition: transform .2s;
    }
    .tile-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tile:hover {
      transform: scale(1.1);
    }

    .price {
      margin-bottom: 10px;
    }

    .rating {
      margin-top: 20px;
      margin-left: 25px;
    }
</style>