<template>
  <div class='progress-bar'>
      <div v-for='(value,name,index) in steps' :class="{'step':true, 'checked': value}" :key="index">
         <div v-show='index != 0' class='line'></div>
          <div class='circle'>
            <div class='number'>{{index+1}}</div>
            <p class='text'>{{name}}</p>
          </div>
          <div v-show='index != stepsLength - 1' class='line'></div>
      </div>
      

  </div>
</template>

<script>
export default {
    props: ['steps'],
    computed: {
        stepsLength() {
            return Object.keys(this.steps).length
        }
    }
}
</script>

<style scoped>
    .progress-bar {
        display: flex;
        position: relative;
        justify-content: center;
        height:120px;
    }

    .step {
        display:flex;
        align-items: center;
    }

    .circle {
        text-align: center;
    }
    .text {
        position: absolute;
        bottom: 0;
        color: var(--light-grey);
     
    }
    .number {
        width: 50px;
        height: 50px;
        text-align: center;
        border: 1px solid var(--green);
        border-radius: 50%;
        line-height: 49px;
        vertical-align: middle;
        font-size: 110%;
        color: var(--light-grey);
    }
    
    .line {
        width: 60px;
        height: 10px;
        border: 1px solid var(--green);
        border-left: none;
        border-right: none;
    }

    .checked .number, .checked .line{
        background-color: var(--green);
        color: white;
    }
    .checked .text {
        color: var(--grey);
    }
</style>