<template>
    <div>
        <div class='container'>
            <Loading v-if='loading' />
            <ul v-else>
                <li v-for='rat of fillRating' :key="rat.name">
                    <div v-for=' (classFill,index) in rat.classes' :key="index" :class="['element', classFill]"></div>{{rat.name}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {PRODUCT_FIELDS, product} from '../ApiRoutes'
import Loading from './Loading'
export default {
    props: ['productId'],
    data() {
        return {
            loading: false,
            maxRating: 3,
            ratings:[0,0,0],
            ratingNames: ['kwasowość', 'kofeina', 'body']
        }
    },
    computed: {
        ...mapGetters(['getShortDesc']),
        fillRating() {
            const full = 'full'
            const empty = 'empty'

            let arr = []
            this.ratingNames.forEach((name,index) => {
                let classes = []
                for(let i = 0; i < this.ratings[index]; ++i)
                    classes.push(full)

                for(let i = this.ratings[index]; i < this.maxRating; ++i )
                    classes.push(empty)

                arr.push({
                    name,
                    classes
                })
            })
            return arr
        }
    },
    methods: {
        ...mapActions(['setShortDesc'])
    },
    components: {
        Loading
    },
    created() {
        if(this.getShortDesc(this.productId))
            this.ratings = this.getShortDesc(this.productId)
        else {
            this.loading = true
            product.getProduct(this.productId,PRODUCT_FIELDS.DESC)
                .then(res=>{
                    const data = res.data.short_desc
                    this.ratings = data.split(';')
                    this.setShortDesc({id: this.productId, value: this.ratings})
                    this.loading = false
                })
        }
    }
}
</script>

<style scoped>
    .container {
        font-size: 70%;
        text-transform: uppercase;
        
    }

    ul {
        list-style: none;
    }

    li:not(:first-child) {
        margin-top: 7px;
    }

    .element {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 9px;
        border-radius: 2px;
    }

    .empty {
        background-color: #9c9c9c;
    }

    .full {
        background-color: var(--green);
    }
</style>