<template>
  <div class='visual-description'>
    <div class='origin'>
        <h4 class='title'>POCHODZENIE</h4>
        <div class='content'>
            <p>{{variety}}</p>
            <p>{{origin}}<span> n.p.m</span></p>
        </div>
    </div>
    <div class='score'>
        <h4 class='title'>SCORE</h4>
        <p class="content">
            {{score}}
        </p>
    </div>
    <div class='process'>
         <h4 class='title'>OBRÓBKA</h4>
        <div class="content-image">
            <img class='process-logo' :src='logoNatural' alt='processLogo'/>
        </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {detail, DETAIL_FIELDS} from '../ApiRoutes'
const logoNatural = require('./../assets/logoNatural.svg')

export default {
    props:['productId'],
    data() {
        return {
            logoNatural,
            loading: false,
            origin: '',
            score: '',
            process: '',
            variety: ''
        }
    },
    computed: {
        ...mapGetters(['getOrigin', 'getVariety', 'getScore', 'getProcess'])
    },
    methods: {
        ...mapActions(['setOrigin', 'setVariety', 'setScore', 'setProcess']),
        fetchData: async function(){
            if(this.getOrigin(this.productId)) {
                this.origin = this.getOrigin(this.productId)
            }
            else {
                 const fetchOrigin = detail.getDetail(this.productId, DETAIL_FIELDS.ORIGIN)
                 this.origin = (await fetchOrigin).data[DETAIL_FIELDS.ORIGIN]
                 this.setOrigin({id: this.productId, value: this.origin})
            }

            if(this.getScore(this.productId))
                this.score = this.getScore(this.productId)
            else {
                const fetchScore = detail.getDetail(this.productId, DETAIL_FIELDS.SCORE)
                this.score = (await fetchScore).data[DETAIL_FIELDS.SCORE]
                this.setScore({id: this.productId, value: this.score})
            }

            if(this.getProcess(this.productId))
                this.process = this.getProcess(this.productId)
            else {
                const fetchProcess = detail.getDetail(this.productId, DETAIL_FIELDS.PROCESS)
                this.process = (await fetchProcess).data[DETAIL_FIELDS.PROCESS]
                this.setProcess({id:this.productId, value:this.process})
            }

            if(this.getVariety(this.productId))
                this.variety = this.getVariety(this.productId)
            else {
                const fetchVariety = detail.getDetail(this.productId, DETAIL_FIELDS.VARIETY)
                this.variety = (await fetchVariety).data[DETAIL_FIELDS.VARIETY]
                this.setVariety({id: this.productId, value: this.variety})
            }
        }
    },
    created() {
        this.loading = true
        this.fetchData()
            .then(() => this.loading = false)
    }
}
</script>

<style scoped>
    .visual-description {
        display: flex;

    }

    .origin {
        flex: 1;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }

    .score {
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .process {
        flex: 1;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        color: var(--light-grey);
        text-transform: uppercase;
        font-size: 70%;
        font-weight: 300;
        margin-bottom: 10px
    }

    .origin .content {
        font-size: 80%;
        font-weight: 300;
    }

     .origin .content span {
        font-size: 80%;
        font-weight: 100;
    }
  
    .content {
        font-size: 150%;
        font-weight: 100;
        margin: auto 0;
    }
    .content-image {
        width:65px;
    }
    .process-logo {
        display: block;
        width: 100%;
        height:100%;
    }
</style>