<template>
    <div  style='display: inline-block;'>
        <div class='welcome'>
            <h2>Witaj w świecie kawy</h2>
            <CustomButton style='margin-top: 50px;' btnType='primary' btnSize='big'>Wejdź do Sklepu</CustomButton>
        </div>
    </div>
</template>

<script>
import CustomButton from './Button'
export default {
    components: {
        CustomButton
    }
}
</script>

<style scoped>
    h2 {
        font-weight: 300;
        font-size: 450%;
        color: var(--white);
        text-transform: uppercase;
    }
    .welcome {
        display: inline-block;
        text-align:center;
    }
</style>