<template>
  <div :class="['whiteboard', ...containerClasses]">
    <slot></slot>
  </div>
</template>

<script>
export default {
    props: {
        'padding':{
            default: ''
        }
    },
    computed: {
        containerClasses() {
            if(!this.padding)
                return [this.padding]
            return ['whiteboard-'+this.padding+'Padding']
        }
    }
}
</script>

<style scoped>
    .whiteboard {
        background-color: var(--absolute-white);
        box-shadow: 1px 1px 10px 2px #b4b4b4;
        height:auto;
    }

    .whiteboard-smallPadding {
        padding: 15px 15%;
    }

    .whiteboard-bigPadding {
        padding: 40px 10%;
        height:100%;
    }
</style>